

  


div.col {
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
    text-align:center;
    color:black;
    overflow-y:scroll;
    background-color:white;

}
div.card {
    height:80vh;
}