
h1#contactmsg {
    text-align:center;
    color:white;
}

.container{
    margin: 5%;
    padding: 10%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/form-bk.jpg") no-repeat center center;
    background-size: cover;
    border-radius:50%;
 border:1px solid black;
    }
    .form-control{
     border: 10px solid #f2f2f2;
     width: 1000px;
     text-align: center;
    }
    input {
        width: 1000px;
        text-align: right;
        } 
    .btn{
        color: blue;
        width: fit-content;
       margin-left:50%;
       margin-right:50%;
    }

    .row{
        color: blue;
        font-size: 1.5em;
    }
    a {
        color:inherit;
    }
    a:hover {
    color:white
}
