.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: lightblue;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}


 .footer a {
   margin-left: 50%;
   /* text-decoration: none; */
   padding: 6px;
   display:block;
 }



 span p{
   color: rgba(54, 117, 218, 0.972);
   text-align:center;
 }
 p#ouraddress{
   display:inline-block;
 }
p#phonenum {
  display:inline-block;
}
p {
  display:inline-block;
  padding:2%;

}