#welcome {
  

    text-align:center;

}
.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
div#welcome {
color:black;
font-weight:bold;
outline:white;
outline-width:1px;
  border-radius:90%;
top:0;
background-size:cover;
  background: url("https://2fast4buds.com/temp/img_upload/bg_fc3a57bfd3dd11bebac9ff9e0fab007c.jpg") no-repeat center center;
}
p.line-1 anim-typewriter {
  display:block;
}
p#loginboot {
  display:block;
}
#welcometext {
    text-align:center;
    font-size:250%;
    margin-top:1.4;
    padding-top:5%;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow-y: scroll;
}
body{
  height: auto;
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
 
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}